/* body{
    background-color: #E8ECEF;
    text-align: center;
    margin-top: 5%;
} */
hr{
    width: 40%;
    margin-left: 30%;
}

input{
    width: 30px;
    height: 50px;
}

a{
    margin-top: 20px;
    width: 100px;
    height: 50px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    
}

html,
body {
  height: 100%;
}

body {
  display: flex;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #E8ECEF;
}

.form-signin {
  max-width: 330px;
  padding: 15px;
}

.form-signin .form-floating:focus-within {
  z-index: 2;
}

.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.mo{
    margin-left: 30%;
    text-align: center;
    align-items: center;
}